* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0; 
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-image: url("img/Acceuil/Fond_acceuil.jpg");
    background-size: 100% 110%;
    background-repeat: no-repeat;
}


header.barre_nav {
    background: linear-gradient(#b7b7a4,#6b705c);
    border-bottom: 2px solid #fefefe;
    border-radius: 0px 0px 10px 10px;
}

#Logo {
    width: 120px;
}

#LogoMNS {
    width: 120px;
    position: absolute;
    left: 91%;
    top: 2%;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.material-symbols-outlined {
    position: relative;
    top: 4px;
    right: 5px;
}

.bouton_acceuil, .bouton_cours, .bouton_rappel, .bouton_citation, .bouton_info {
    text-decoration: none;
    width: 145px;
    height: 35px;
    border: 1px solid #fefefe;
    border-radius: 15px 5px 15px 5px;
    background-color: #FFE8d6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #6b705c;
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    position: absolute;
    top: 5%;
    font-family: 'Poppins', sans-serif;
    padding: 1px;
}

footer, p {
    margin: 0;
}

.bouton_acceuil {
    left: 13%;
}

.bouton_cours {
    left: 28%;
}

.bouton_rappel {
    left: 43%;
}

.bouton_citation {
    left: 58%;
}

.bouton_info {
    left: 73%;
}

.bouton_acceuil:hover, .bouton_cours:hover, .bouton_rappel:hover, .bouton_citation:hover, .bouton_info:hover {
    color: #FFE8d6;
    background-color: #6b705c;
    transition: background 0.7s  ;
}
/* ********************************** */
/* Fin du code de la barre de naviguation */


.liste {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    opacity: 95%;

}

.box {
    width: 350px;
    border-bottom: 20px solid #6b705c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box h2 {
    color: #FFE8d6;
    background: #6b705c;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box ul {
    position: relative;
    background: #FFE8d6;
}

.box ul li {
    box-sizing: border-box;
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #FFE8d6;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
    transition: transform 0.5s;
}

.box ul:hover li {
    opacity: 0.2;

}

.box ul li:hover {
    transform: scale(1.1);
    z-index: 100;
    background: #ddbea9;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    color: #fff;
    opacity: 1;
}

.box ul li span {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #6b705c;
    color: #FFE8d6;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-2px);
}

.box ul li:hover span {
    background: #6b705c;
    color: #FFE8d6;
}

.liens_cours {
    color: #6b705c;
    text-decoration: none;
}

@media screen and (min-width: 320px) and (max-with: 768px) {

}


@media screen and (max-width: 1024px) {
    .bouton_acceuil, .bouton_cours, .bouton_rappel,.bouton_citation, .bouton_info {
        width: 5%;
        height: 3.5%;
        font-size: 0;
        margin: 0;
        padding: 0.2%;
        top: 2.5%;
        
    }

    .bouton_acceuil p, .bouton_cours p, .bouton_rappel p,.bouton_citation p, .bouton_info p {
        display: none;
        text-align: none;
    }

    .material-symbols-outlined {
        margin-left: 25%;
        margin-bottom: 70%;
        margin-top: 0;
    }


    #Logo {
        width: 10%;
    }

    #LogoMNS {
        left: 88%;
        top: 2%;
        width: 10%;
    }

    .liste {
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    body {
        background-image: url(img/Acceuil/FondMobile.jpg);
        height: 100%;
    }

    html {
        height: 100%;
    }

    footer {
        margin-top: 0;
    }
    
}
