body {
    background-color: lemonchiffon;
    color: #03a9f4;
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
}

header {
    text-align: center;
    margin-top: 2rem;
}

h1 , h2 {
    padding: 2rem;
    text-decoration: underline;
    text-align: center;
}

h3 {
    text-decoration: underline;
    font-size: 20px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #03a9f4;
}

a:hover {
    padding: 10px;
    border-radius: 20px;
    background-color: #ffffff9d;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, .5);
    padding: 0.5em;
    color: #03a9f4;
}

p {
    font-size: 18px;

}

ul, li {
    list-style: none;
}

.contenu {
    text-align: center;
}
p span {
    text-decoration: underline;
    color: red;
}

li span {
    text-decoration: underline;
    font-size: 20px;
}

.commandes {
    text-align: center;
}

.Exo1 {
    max-width: 1200px;
    max-height: 150px;
}

.def {
    text-decoration: underline;
    color: red;
}

.present {
    text-align: center;
}