body {
    text-align: center;
    background-color: lemonchiffon;
    color: #03a9f4;
    font-family: 'Poppins', sans-serif;
}

h1 , h2 , h3 {
    text-decoration: underline;
    text-align: center;
    padding: 2rem;
}

header {
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: #03a9f4;
}

a:hover {
    padding: 10px;
    border-radius: 20px;
    background-color: #ffffff9d;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, .5);
    text-decoration: none;
    color: #03a9f4;
}

.principal {
    text-align: center;
}
.warning {
    padding: 20px;
    background-color: rgb(155, 0, 0);
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

p { 
    font-size: 18px;
}