body {
    background-color: black;
    color: lemonchiffon;
    font-family: 'Poppins', sans-serif;
}

h1 , h2 , h3 {
    text-decoration: underline;
    text-align: center;
}

a {
    text-decoration: none;
    color: lemonchiffon;
}

.principal {
    text-align: center;
}
.warning {
    background-color: rgb(155, 0, 0);
    font-size: 20px;
    text-align: center;
    text-decoration: underline;

}