footer {
    background: linear-gradient(#6b705c, #4b4e3f);
    border-top: 2px solid #fefefe;
    border-radius: 5px 5px 0 0;
    color: #FFE8d6;
    text-align: center;
}

.liens_footer {
    padding: 20px;
}

footer p {
    padding: 20px;
    opacity: 40%;
    font-size: 14px;
    margin: 0;
}

footer a {
    opacity: 50%;
    color: #FFE8d6;
    text-decoration: none;
    margin: 10px;
}

@media screen and (min-width: 320px) and (max-width: 540px) {
    .liens_footer {
        display: flex;
        justify-content: space-between;
    }

    footer a {
        font-size: 12px;
    }

    footer p {
        font-size: 10px;
    }
}