body {
    font-family: 'Poppins', sans-serif;
    background-color: lemonchiffon;
    color: #03a9f4;
}

header {
    text-align: center;
    margin-top: 2rem;
}

h1 , h2 , h3 {
    padding: 2rem;
    text-decoration: underline;
    text-align: center;
}

a {
    text-decoration: none;
    color: #03a9f4;
}

a:hover {
    padding: 10px;
    border-radius: 20px;
    background-color: #ffffff9d;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, .5);
    text-decoration: none;
    color: #03a9f4;
}

p {
    font-size: 18px;
}

.rappels_sql {
    text-align: center;
}
span {
    text-decoration: underline;
    color: red;
}