body {
    background-color: lemonchiffon;
    color: #03a9f4;
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    margin-top: 2rem;
}

h1 , h2 , h3 {
    padding: 2rem;
    text-decoration: underline;
    text-align: center;
}

a {
    text-decoration: none;
    color: #03a9f4;
}

a:hover {
    padding: 15px;
    border-radius: 20px;
    background-color: #ffffff9d;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, .5);
    padding: 0.5em;
    color: #03a9f4;
}

p {
    font-size: 18px;

}

span {
    text-decoration: underline;
    font-size: 20px;
}

.installation_wamp {
    text-align: center;
}